@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@600;700&display=swap');

:root {
  --main-bg-color: brown;
}

html{
  height: 100%;
}

body{
  background-image: linear-gradient( to right,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
  height: 100%;
}

#sidebar{
  background-color: #a8a7a7;
  color:white;
  height: 100%;
  font-family: quicksand;
  font-weight: 500;
  font-size: 12pt;
}

/*HOMEPAGE*/
.home{
  height: 100%;
}

.invite{
  font-size: 18pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

#title{
  padding-top: 1.5%;
  text-align: center;
  color:white;
  font-size: 3.0vw;
  font-family: 'Quicksand';
  font-weight: 500;
}

.card-title{
  padding-top: 1.5%;
  font-size: 1.8vw;
}

.cards-paragraph{
  font-size: 1.2vw;
}

.cards-container {
  display: flex;
  margin-top: 15em;
  margin-bottom: 15em;
  text-align: center;
  color: white;
}

.cards-section-one{
  margin-right: 5em;
  width: 30%;
  border: 2px solid #008080;
  border-radius: 10px;
}
.cards-section-two{
  margin-right: 5em;
  width: 30%;
  border: 2px solid #008080;
  border-radius: 10px;
}

.cards-section-three{
  margin-right: 5em;
  width: 30%;
  border: 2px solid #008080;
  border-radius: 10px;
}


/*BUTTON COMMANDS*/

.outside-command-container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.category-container{
  margin: 0 auto;
}

.category-name{
  color: #f7f7f7;
  font-size: 3.5em;
  font-family: 'Quicksand';
  font-weight: 500;
  margin-bottom: 1em;
  text-align: center;
}

.command-container{
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.commands-container{
  
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100%;
  text-align: center;
}

.command-card{
  padding: 2.8px;
  align-items: center;
}

.collapsible {
  text-align: center;
  background-color: rgba(119, 119, 119, 0);
  color: white;
  cursor: pointer;
  padding: 18px;
  border: 2px solid #008080;
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.active{
  background-color: #c6c6c6;
}

.active, .collapsible:hover {
transition: height 2s;
}
.collapsible:hover{
  border-radius: 15px 15px 15px 15px;
  border-collapse: collapse;
  
  border: 2.4px solid #a5e6e6;
  animation:  shake 0.4s;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/*TABLE*/
table{
  margin-left: auto;
  margin-right: auto;
  color: black;
  text-align: center;
  margin-bottom: 10%;
  font-family: quicksand;
  font-weight: 500;
  font-size: 12pt;

}
tr, td{
  margin: 0 auto;
  width: 100%;
  text-align: center;

}
.top{
  font-weight: bold;
  background-color: #08948c;
}
.inside{
  font-weight: bold;
  background-color:#fff;
}
@keyframes shake{
  0%{
      transform: translateX(0)
  }
  25%{
    transform: translateX(25px);
  }
  
  50%{
      transform: translateX(-25px);
  }
  100%{
      transform: translateX(0px);
  }
}
.title{
  color:white;
}


/*Documents*/
.documents{  
margin-left: 20%;
gap: 10%; 
width:80%;
position: fixed;
height: 100%;
}

.document-container{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100%;
  text-align: center;
}

.contentButton{
background-color:rgba(0, 204, 255, 0.984);
color:white;
display: flex;
flex-direction: column;
border-radius: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width: 20%;
max-width: 100%;
height: 40%;
position: relative;
border: none;
text-align: center;
}